<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    {% if adding_c %}
    <form action="/add_comment" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="new comment name">
    <input type="email" name="phone" placeholder="new comment phone">
    <input type="text" name="address" placeholder="new comment address">
    <button type="submit">Add comment</button>
    
    </form>
        
    {% else %}
        {% if adding_o %}
            <form action="/add_movie" method="post">
            {% csrf_token %}
            <input type="text" name="title" placeholder="title">
            <input type="text" name="plot" placeholder="plot">
            <input type="number" name="year" placeholder="year">
            <input type="text" name="rated" value="rated">
            <button type="submit">Add movie</button>
            </form>
        {% else %}
            {% if adding_p %}
            <form action="/add_user" method="post">
                {% csrf_token %}
                <input type="text" name="name" placeholder="new user name">
                <input type="email" name="quantity" placeholder="new user email">
                <input type="text" name="price" placeholder="new user password">
                <button type="submit">Add User</button>
                
                </form>
            {% endif %}
        {% endif %}
        
    {% endif %}
</body>
</html>