<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    Welcome Home!!!
    <br>
    <hr>
    <a href="/comments">comments</a><br>
    <a href="/movies">movies</a><br>
    <a href="/users">users</a><br><hr>
    <a href="/add_comment">add comments</a><br>
    <a href="/add_movie">add movies</a><br>
    <a href="/add_user">add users</a><br>
</body>
</html>